@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(
    circle,
    rgb(61, 63, 201) 0%,
    rgb(9, 45, 206) 100%
  );
}

.contexto {
  padding: 25px 25px;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 0.71);
  overflow: hidden;
}
.contexto .calculadora {
  position: relative;
  display: grid;
  grid-gap: 10px;
}

.contexto .calculadora .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}

.contexto .calculadora span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #a786ce 0%,
    #8497c9 51%,
    #a287c0 100%
  );
  background-size: 200% auto;
  border-radius: 16px;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: none;
  place-items: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 1s;
}

.contexto .calculadora span:active,
.contexto .calculadora span:hover {
  background-image: linear-gradient(
    to right,
    #a786ce 0%,
    #8497c9 51%,
    #a287c0 100%
  );
  color: #fff;
  background-position: right center;
}
.contexto .calculadora span:active {
  position: relative;
  top: 5px;
}

.contexto .calculadora span.limpar {
  grid-column: span 2;
  width: 120px;
  background: #8b0718;
}

.contexto .calculadora span.mais {
  grid-row: span 2;
  height: 120px;
  background: #440fc2;
}

.contexto .calculadora span.igual {
  background: #03b1ff;
}

.contexto .calculadora span.menos {
  background: #e2224c;
}

.contexto .calculadora span.vezes {
  background: #85992b;
}

/* BACKGROUND ANIMADO */

.contexto .bolha li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animacao 25s linear infinite;
  bottom: -150px;
}

.contexto .bolha li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.contexto .bolha li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.contexto .bolha li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.contexto .bolha li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.contexto .bolha li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.contexto .bolha li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.contexto .bolha li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.contexto .bolha li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.contexto .bolha li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.contexto .bolha li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animacao {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media screen and (max-width: 781px) {
  * {
    overflow-y: hidden;
  }
  .contexto .calculadora {
    height: 63vh;
  }

  .contexto {
    height: 70vh;
  }
}

@media screen and (max-width: 391px) {
  * {
    overflow-y: hidden;
  }

  .contexto .calculadora span {
    width: 2.7rem;
    height: 2.7rem;
  }
  .contexto .calculadora {
    height: 63vh;
  }

  .contexto {
    padding: 15px 15px;
    height: 67vh;
  }
}
